fastapi
uvicorn
python-dotenv
groq
rapidfuzz
numpy
scikit-learn
aiosqlite
pyjwt
bcrypt==4.0.1
python-multipart
httpx
sqlalchemy
aiomysql

passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
